@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif:wght@400;700&family=Poppins:wght@100;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap");

body {
  background-color: #2a4259;
  color: white;
  margin: 0;
}

.App {
  font-family: "Poppins", sans-serif;
}

a {
  color: white;
}

.landing--div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.landing--div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing--div img {
  border-radius: 10px;
  width: 35rem;
  height: 25rem;
}

.signup--div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.signup--div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #223547;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.header--profilePhoto {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.header--logo {
  width: 10rem;
  height: 5rem;
  border-radius: 50%;
}

.header--nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header--profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;
}

a {
  text-decoration: none;
}

.main--body {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5rem;
}

.posts--div {
  padding: 4rem;
  text-align: left;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  margin-top: 1rem;
  background-color: #223547;
  width: 42rem;
  height: 100vh;
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  padding: 2rem;
}

.empty--div {
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.empty--div a {
  margin-left: 4rem;
  font-weight: 600;
}

.post {
  margin: 2rem 0;

  width: 100%;
}
.suggestedUsers--div {
  padding: 1rem;
  margin-right: 4rem;
}
.suggestedUsers--div .user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.suggestedUsers--div .user img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

button {
  cursor: pointer;
}

.post--div {
  background-color: white;
  color: black;
  width: 40rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  margin-bottom: 4rem;
  background-color: #f8fafc;
  cursor: pointer;
}

.post--div:hover {
  background-color: #cbd5e1;
}

.post--div div {
}

/* .App.blur {
  filter: blur(4px);
  pointer-events: none;
} */

.postbox--div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  position: absolute;
  top: 1rem;
  width: 40rem;
  margin-bottom: 4rem;
}

.postbox--div textarea {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  resize: none;
  overflow: auto;
  padding: 3rem 6rem;
  box-sizing: border-box;
}

.postbox--div .noBlur {
  filter: none;
  pointer-events: auto;
}
.postbox--profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}
.close--btn {
  position: absolute;
  top: 2rem;
  border: none;
  right: 0rem;
  background-color: white;
  font-weight: 600;
}

/* ??????????????? */
.post--btn {
  position: absolute;
  top: 9rem;
  right: 0rem;
}

.img--select--label {
  position: absolute;
  left: 0.1rem;
  top: 4.5rem;
  color: black;
  cursor: pointer;
}

.img--select {
  display: none;
}
/* 
.img--select--label {
  display: inline-block;
  padding: 8px 12px;
  color: black;
  cursor: pointer;
  display: block;
  margin-bottom: 2px;
  position: absolute;
  top: 4rem;
  background-color: red;
  left: 0.2rem;
} */

.preview--img {
  /* position: relative;
  bottom: 14rem;
  left: 2rem; */
  margin-top: 2px;
}

.select--image {
  position: absolute;
  top: 4.5rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.previewImg--div {
  position: relative;
  z-index: 1;
}

#close--icon {
  position: absolute;
  color: red;
  font-weight: 600;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.editBox--div {
  position: absolute;
  /* background-color: red; */
  /* display: inline-block; */
}

.editTextArea {
  padding: 3rem 6rem;
}

.update--btn {
  position: absolute;
  top: 7.2rem;
  right: 1rem;
}
/* #image-icon {
  position: absolute;
  color: black;
  width: 2rem;
  height: 2rem;
  left: 0.5rem;
  top: 3.5rem;
  background-color: red;
} */

.editbox-update--btn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.editbox-img--select {
  display: none;
}

#editbox-image-icon {
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  color: black;
  cursor: pointer;
}

.editbox-img--select--label {
  display: flex;
}

.editbox-previewImg--div {
  position: absolute;
  display: inline-block;
  left: 0.5rem;
  bottom: 3rem;
}

#editbox-close--icon {
  position: absolute;
  right: 0;
  color: red;
  font-weight: 600;
  cursor: pointer;
}

.editbox-close-btn {
  position: absolute;
  right: 1rem;
  top: 2rem;
  background-color: white;
  font-weight: 600;
  border: none;
}

.break--line {
  color: red;
  width: 100%;
}
